<title>Main</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script type="type/javascript" charset="utf-8">
  $(document).ready(function() {

    $('#newmessage').submit(function(e) {
        let message = $("#messageinput").val();
        $.ajax({
            'type'     : 'POST',
            'url'      : '/put/{{room}}/{{uid}}',
            'data'     : { 'message': message },
            'dataType' : 'json',
        });
        $("#messageinput").val('');
        $("#messageinput").focus();
        e.preventDefault();
    });

      let longPoll = () => {
         return $.ajax({
             type: "POST",
             url: "/poll/" + "{{uid}}",
             async: true,
             cache: false,
             timeout: 100000,
             success: function(data) {
                 if (data.length > 0) {
                     $("#messages").append($("<li>" + data + "</li>"))
                 }
                 return longPoll();
             },
             dataType: 'json'
         });
     };

     longPoll();

   });
</script>

<h2>Messages:</h2>
<ul id="messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
<form id="newmessage">
    <input id="messageinput"></input>
    <button type="submit"/>送信</button>
</form>
